.empty-page {
  width: 100%;
  background-color: var(--grey-2-color);
  border-radius: 4px;
  gap: 4rem;
  padding: 2rem;
}

.empty-image {
  font-size: 28rem;
  color: var(--red-color);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.empty-page > .h1 {
  word-break: break-all;
}

@media screen and (max-width: 900px) {
  .empty-page {
    flex-direction: column;
  }
}
