.sign-in-and-sign-up {
  gap: 5rem;
}

.hr-display {
  display: none;
}

.sign-in,
.sign-up {
  padding: 2rem;
}

.email,
.password,
.username,
.confirm-password {
  position: relative;
  margin: 3rem 0;
}

.auth-form {
  margin-bottom: 1rem;
}

.auth-form input[type='text'],
.auth-form input[type='email'],
.auth-form input[type='password'] {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  background-color: transparent;
  border-bottom: 2px solid var(--grey-5-color);
}

.auth-form input:focus,
.auth-form input:hover {
  border-bottom: 2px solid var(--red-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.label {
  font-size: 1.2rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.313rem;
  top: 0.1rem;
  transition: 300ms ease all;
}

.shrink {
  top: -1rem;
  font-size: 1rem;
  color: var(--red-color);
}

.btn-login-signup {
  letter-spacing: 0.03rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding: 0.5rem 0;
  color: var(--red-color);
  transition: var(--default-transition);
}

.btn-login-signup:hover {
  border-color: var(--red-color);
}

.or {
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .sign-in-and-sign-up {
    flex-direction: column;
    gap: 2rem;
  }

  .hr-display {
    display: initial;
  }

  .sign-in,
  .sign-up {
    margin-inline: auto;
  }
}
