.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: transparent;
  backdrop-filter: blur(3px);
  gap: 2rem;
  z-index: 9;
}

.navbar {
  width: 100%;
}

.navbar-left .h2 {
  font-family: var(--font-grapenuts);
}

.navbar-mid {
  gap: 1rem;
  border-bottom: 2px solid var(--red-color);
}

.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  width: 20rem;
}

.navbar-right {
  gap: 3rem;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
}
