.trending {
  gap: 2rem;
}

.filter-options {
  width: 100%;
  overflow: auto;
  gap: 3rem;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.filter-options-back-2 {
  background-color: var(--grey-2-color);
}

.filter-options-back-d {
  background-color: var(--grey-d-color);
}

.filter-options::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.filter-options::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.filter-options::-webkit-scrollbar-track {
  margin: 0 15rem;
  border-radius: 1rem;
}

.btn-filter {
  border: 2px solid var(--red-color);
  color: red;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: var(--default-transition);
}

.btn-filter:hover {
  transform: scale(0.98);
  background-color: var(--red-color);
  color: var(--white-color);
}

.filter-active {
  background-color: var(--red-color);
  color: var(--white-color);
}

.trending > .h2 {
  border-left: 5px solid var(--red-color);
  padding: 0 2rem;
}

.trending-vids {
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .filter-options {
    justify-content: flex-start;
  }
}
