.video-page .h3 {
  border-left: 5px solid var(--red-color);
  padding: 0 2rem;
  margin-top: 1.25rem;
}

.video-container {
  gap: 1rem;
}

.video {
  width: 100%;
  height: 32rem;
}

.videopage-controls {
  width: 100%;
}

.controls-right {
  gap: 1rem;
}

.grp {
  gap: 0.5rem;
}

.channel-details {
  gap: 2rem;
  margin-bottom: 1rem;
}

.channel-logo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  object-fit: contain;
}

.misc-container {
  margin-top: 1rem;
}

.comment-section {
  flex: 1;
}

.comment-form {
  gap: 1rem;
  padding: 1rem;
}

.comment-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  background: transparent;
  border-bottom: 2px solid var(--grey-5-color);
}

.comment-input:hover,
.comment-input:focus {
  border-color: var(--red-color);
}

.btn-comment {
  border: 1px solid var(--red-color);
  padding: 0.5rem 1.5rem;
  color: var(--red-color);
  border-radius: 4px;
  transition: var(--default-transition);
  margin-left: auto;
}

.btn-comment:hover {
  transform: scale(1.1);
}

.comments-container {
  width: 100%;
  align-items: flex-start;
  gap: 2rem;
}

.comment {
  gap: 1rem;
}

.comment-details {
  gap: 0.5rem;
}

.user-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.must-watch {
  gap: 1.5rem;
}

.must-watch-videos {
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .misc-container {
    flex-direction: column;
    gap: 3rem;
  }

  .comment-section {
    width: 100%;
    order: 2;
  }

  .must-watch {
    width: 100%;
  }

  .must-watch-videos {
    flex-direction: row;
    overflow: auto;
    gap: 2rem;
  }
}
