.video-list {
  width: 100%;
  gap: 2rem;
  overflow-x: auto;
  padding: 1rem 0.75rem;
  margin-bottom: 3rem;
}

.video-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.video-list::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.video-list::-webkit-scrollbar-track {
  margin: 0 20rem;
  border-radius: 1rem;
}
