.video-box {
  width: 25rem;
}

.video-img {
  width: 25rem;
  height: 15rem;
  cursor: pointer;
}

.video-img-horizontal {
  width: 10rem;
  height: 6rem;
  cursor: pointer;
}

.video-img-container {
  position: relative;
}

.video-img-container:hover .fader {
  opacity: 1;
}

.box-horizontal {
  gap: 1rem;
}

.fader {
  position: absolute;
  content: '';
  inset: 0;
  opacity: 0;
  background-color: var(--light-black-3);
  transition: var(--default-transition);
}

.play-icon {
  font-size: 5rem;
  color: var(--red-color);
  transition: var(--default-transition);
}

.about-page {
  height: 100%;
  align-items: flex-start;
}

.views {
  margin-top: 0.5rem;
}

.video-info {
  gap: 1rem;
  margin-top: 1rem;
}

.creator-img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  object-fit: contain;
  transition: var(--default-transition);
}

.creator-img:hover {
  transform: scale(1.1);
}

.vid-title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--default-transition);
}

.vid-title:hover {
  text-decoration: underline;
}

.vid-controls {
  margin-top: 1rem;
  margin-left: auto;
  gap: 1rem;
}

.btn-remove {
  color: var(--red-color);
  transition: var(--default-transition);
}

.btn-remove:hover {
  transform: scale(1.1);
}
